* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #d49138;
  color: #000000; }

.about {
  margin: .2rem 1rem 1rem; }
  .about__image {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .about__image img {
      width: 25rem;
      height: 25rem;
      border-radius: 5px;
      transition: .2s; }
      .about__image img:hover {
        cursor: pointer;
        filter: brightness(85%); }
    .about__image h1 {
      text-align: center;
      font-size: 2.4rem; }
  .about__paragraph {
    padding-top: .5rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7); }
  .about__social {
    display: flex;
    flex-direction: column; }
    .about__social--icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 5px; }
    .about__social--link {
      text-decoration: none;
      font-size: 1.3rem;
      padding: 1rem;
      background: rgba(51, 51, 51, 0.792);
      color: white;
      margin-bottom: 5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      transition: .2s; }
      .about__social--link:hover {
        color: #e77f67; }

.category-container {
  display: flex;
  flex-direction: column;
  position: relative; }

.back-icon {
  background-image: url(../img/left-arrow.svg);
  width: 3.5rem;
  height: 3.4rem;
  background-color: white;
  margin-left: .5rem;
  border-radius: 5px;
  display: flex;
  transition: .2s;
  fill: #000; }
  .back-icon--story {
    background-color: #d49138; }
  .back-icon:hover {
    background-color: #7a4d12;
    fill: #fff; }

.category-name {
  font-size: 2rem;
  padding-right: 5rem; }

.book-list {
  margin-top: .2rem;
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  transition: .2s; }

.book__description {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding-left: 2rem;
  line-height: 1.5; }

.book__title {
  font-size: 1.7rem;
  font-weight: bold; }

.book__author {
  font-size: 1.5rem;
  font-weight: 300; }

.pagination {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: #000000; }

.arrow-prev,
.arrow-next {
  font-size: 3rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  margin: 0 1rem;
  transition: .2s; }
  .arrow-prev:hover,
  .arrow-next:hover {
    background-color: #7a4d12;
    color: white; }

.page-prev,
.page-next {
  display: flex;
  align-items: center;
  margin: 1rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 2s; }
  .popup__heading {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .popup__message {
    font-size: 1.5rem; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: #eee;
    border-radius: 5px;
    width: 85%;
    padding: 1rem; }
  .popup__close {
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: .4rem;
    right: 1rem;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    cursor: pointer; }
  .popup__close:hover {
    color: #000; }

.container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column; }

.topbar {
  background-color: #7a4d12;
  height: 4.5rem;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .topbar a {
    text-decoration: none; }
  .topbar .logo-topbar {
    height: 4rem;
    width: 4rem; }

.page-name {
  font-size: 2.2rem;
  display: block;
  margin: auto;
  padding-right: 5rem; }

.categories {
  padding: .5rem;
  display: flex;
  flex-direction: column; }

.category {
  position: relative;
  transition: .2s;
  margin-bottom: 4px; }
  .category:hover {
    filter: brightness(75%); }
  .category__image {
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .category__title {
    font-size: 1.3rem;
    color: white;
    position: absolute;
    bottom: 0;
    background: rgba(51, 51, 51, 0.792);
    width: 100%;
    padding: 1rem;
    padding-bottom: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .category__title span {
      display: flex; }
    .category__title--number {
      font-size: 1.2rem;
      font-style: italic;
      color: #e77f67; }

.folder-icon {
  padding-right: .6rem;
  display: flex;
  align-items: center; }

.footer {
  font-size: 1.3rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  display: block;
  margin: .2rem auto 1rem; }

.navigation__checkbox {
  display: none;
  font-size: 1.4rem; }

.navigation__button {
  font-size: 1.2rem;
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: .3rem;
  right: .9rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 100%;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: #17B;
  z-index: 1000;
  line-height: 2rem;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: rgba(0, 0, 0, 0.6); }

.navigation__list {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: .8rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 1rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s; }

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #17b;
  transform: translateX(0.8rem); }

.navigation__checkbox:checked ~ .navigation__background {
  visibility: visible;
  transform: scale(20); }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  width: 50%; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block; }

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s; }

.navigation__icon::before {
  top: -.8rem; }

.navigation__icon::after {
  top: .8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg); }

.privacy {
  font-size: 1.6rem;
  padding: 1rem; }
  .privacy a {
    color: #000000;
    text-decoration: none; }

.privacy-link {
  display: block;
  color: #000000;
  text-decoration: none; }

.terms-link {
  display: block;
  color: #000000;
  text-decoration: none; }

.story {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 4.5rem;
  left: 0;
  z-index: 500;
  display: none;
  transition: all .3s;
  background-color: #d49138;
  padding: .5rem; }
  .story__title {
    font-size: 1.6rem; }
  .story__story {
    padding-top: 3px; }
    .story__story ~ p {
      font-size: 1.5rem;
      padding-left: 5px; }
  .story__credits {
    font-style: italic;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    padding: 5px;
    float: right; }

.story:target {
  display: block; }
