.about{
    margin: .2rem 1rem 1rem; 
    
    &__image{
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
            width: 25rem;
            height: 25rem;
            border-radius: 5px;
            transition: .2s;

            &:hover{
                cursor: pointer;
                filter: brightness(85%);
            }
        }

        h1{
            text-align: center;
            font-size: 2.4rem;  
        }

    }

    &__paragraph{
        padding-top: .5rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: $border-top;
    }

    &__social{
        display: flex;
        flex-direction: column;

        &--icon{
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 5px;
        }

        &--link{
            text-decoration: none; 
            font-size: 1.3rem; 
            padding: 1rem ;
            background: $link-background;
            color: white;
            margin-bottom: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition: .2s;

            &:hover{
                color: #e77f67
            }
        } 
    }


}


