*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    //background-color:rgb(212, 145, 56);
    background-color: $color-background;
    color: $color-black;
}

