.navigation__checkbox {
    display: none;
    font-size: 1.4rem; }
  
  .navigation__button {
    font-size: 1.2rem;
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: .3rem;
    right: .9rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
    text-align: center;
    cursor: pointer;
  
  }
  
  .navigation__background {
    height: 100%;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #17B;
    z-index: 1000;
    line-height: 2rem;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    visibility: hidden;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: rgba(0, 0, 0, 0.6); }
  
  .navigation__list {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    list-style: none;
    text-align: center; }
  
  .navigation__item {
    margin: .8rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 1rem;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1rem;
      display: inline-block; }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #17b;
    transform: translateX(0.8rem); }
  
  .navigation__checkbox:checked ~ .navigation__background {
    visibility: visible;
    transform: scale(20); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    visibility: visible;
    width: 50%; }

  
  .navigation__icon {
    position: relative;
    margin-top: 2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon:before {
    top: 0;
    transform: rotate(135deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon:after {
    top: 0;
    transform: rotate(-135deg); }