.privacy{
    font-size: 1.6rem;
    padding: 1rem;

    a{
        color: $color-black;
        text-decoration: none;
    }
}

.privacy-link{
    display: block;
    color: $color-black;
    text-decoration: none;
}
.terms-link{
    display: block;
    color: $color-black;
    text-decoration: none;
}




