//////////////////////////
//// COLORS
$color-black: #000000;

$link-background:rgba(51, 51, 51, 0.792);
$color-background:rgb(212, 145, 56);
//$color-background:rgba(18, 140, 126, 0.753);

$color-topbar:rgb(122, 77, 18);
//$color-topbar:#128C7E;

$border-top:1px solid rgba(0,0,0,.7);
$border-bottom:1px solid rgba(0,0,0,.7);

